<table class="table-hover">
  <tr>
    <th>ID</th>
    <th>Phone Number</th>
    <th>Callable Type</th>
    <th>Callable ID</th>
  </tr>   
  <tr>
    <td><%= @phone.id %></td>
    <td><%= @phone.number %></td>
    <td><%= @phone.callable_type %></td>
    <td><%= @phone.callable_id %></td> 
  </tr>
</table>