<h1><%= "#{@reviewable.class} ID: #{@reviewable.id}" %></h1>

<p><%= "#{@reviewable.class} Name: #{@reviewable.name}" %></p>

<h2>Reviews</h2>
<% @reviews.each do |r| %>
  <h3><%= "Author ID:  #{r.author_id}" %></h3>
  <p><%= "Review: #{r.body}" %></p>
<%end%>
